*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 960px;
}

/* Navegação */
.nav {
  background-color: #55828b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.nav__img {
  width: 66px;
  max-width: 100%;
  height: 66px;
  padding: 0.5rem;
  position: absolute;
  z-index: 902;
  top: -6px;
  border-radius: 50%;
}

.menu__desktop {
  display: none;
}

/* Menu Hambuguer  */

.menu {
  background: #55828b;
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 0 0 #55828b, 0 0 0 0 #55828b;
  transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  margin: 10px;
  top: -6px;
}

.menu:hover {
  box-shadow: 0 0 0 8px #55828b, 0 0 0 8px #55828b;
}

.hamburguer {
  position: relative;
  display: block;
  background: #133c55;
  width: 25px;
  height: 2px;
  top: 18px;
  right: 5px;
  transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: #133c55;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}
input:checked ~ label .menu {
  box-shadow: 0 0 0 100vw #55828b, 0 0 0 40vh #55828b;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}

input:checked ~ .menu__mobile__list {
  opacity: 1;
  visibility: visible;
}

.menu__mobile__list {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  list-style: none;
  font-size: 1.3rem;
  opacity: 0;
  transition: 0.25s 0.1s cubic-bezier(0, 1.07, 0, 1.02);
  visibility: hidden;
  z-index: 2;
}

.menu__mobile__item {
  text-align: center;
  width: 100%;
}

.menu__mobile__list a {
  color: #87bba2;
  display: block;
  text-decoration: none;
  margin: 0.7rem;
  text-align: center;
  padding: 0.3rem;
}

.menu__mobile__list a:hover {
  font-weight: bold;
  color: #87bba2;
  text-decoration: none;
}

/* NAV */


.menu__item__link:hover{
  color: #2ec4b6;
  cursor: pointer;
  text-decoration: none;
}

/* SEÇÃO HISTORIA */

.historia__container{
  max-width: 960px;
}
.historia__mae {
  display: flex;
  justify-content: center;
  align-items: center;
}

.historia__titulo {
  font-size: 17px;
  letter-spacing: 1px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
  margin: 35px;
}

video {
  opacity: 0.7;
  width: 318px;
  padding: 10px;
  border-radius: 3rem
}

.historia__texto {
  margin: 15px;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;

}

.destaque{
  background-color: #87bba280;
}

.destaque__titulo h3{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
 
  
}

.destaque__titulo a{
  text-decoration: none !important;
  list-style: none !important;
 
  
}

.destaque__titulo:hover{
 color:  #2ec4b6;
 

 
}


.teste{
  position: relative;
}

.arrow {
  display: inline-block;
  margin: 20px 0;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 38% auto;
  background-position: center;
  cursor: pointer;
}





#galeria-prev {
  background-image: url("../imagem/icons/arrow-prev.png");
  position: absolute;
  top: 0px;
  margin: 0;
  width: 80px;
  margin-right: 0%;
  height: 90%;
}


#galeria-next {
  background-image: url("../imagem/icons/arrow-next.webp");
  position: absolute;
    top: 0px;
    margin: 0;
    width: 80px;
    margin-left: 77%;
    height: 90%;
    right: 0;
}

.filmes_img{
  margin: 0 auto;
  max-width: 250px;
  width: 100%;
  padding: 2px;
}

/* FOOTER */

.bg-footer {
  background-color: #55828b;
}

.rede_social_footer i {
  font-size: 1rem;
  color: #ffffff;
}





/* RESPONSIVIDADE */

@media only screen and (min-width: 480px){
.nav{
  height: 13vh;
}

  video{
    width: 473px;
    padding: 5px;
  }

  .historia__titulo{
    font-size: 20px;
  }

  .historia__texto{
    font-size: 14px;
    padding: 9px;
  }
}


@media only screen and (min-width: 768px){
  label{
    margin: 0 9px;
  }
  .historia__titulo{
    font-size: 25px;
  }
  video{
    width: 100%;
  }

  .bg-footer {
    font-size: 1.1rem;
  }
  
  .rede_social_footer i {
    font-size: 2rem;
    
  }
}


@media only screen and (min-width: 920px){
  .menu__mobile{
    display: none;
  }
  .menu__desktop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-right: 15px;
    list-style: none;
  }

  .menu__item{
    margin: 13px;
    font-size: 30px;
    padding: 0px 25px;
  }

  .nav{
    justify-content: flex-end;
    color: white;
  }

  
}

@media only screen and (min-width: 1200px){
  .historia__titulo{
    font-size: 30px;
    
  }

  video{
    max-width: 1114px;
  }

  .historia__texto{
    font-size: 16px;
  }

  .destaque__titulo{
    font-size: 30px;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
  }



  .filmes_img{
    width: 100%;
    max-width: 400px;
  }

  .bg-footer {
    font-size: 1.1rem;
  }
  
  .rede_social_footer i {
    font-size: 2rem;
    
  }
}